<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Time Ticker App</title>
  <link rel="stylesheet" type="text/css" href="../../static/styles/app.css" />
</head>

<body>
  {{> header}}

  {{{body}}}

  <script src="../../static/scripts/app.js"></script>
</body>

</html>
